  
  <div class="user_show">
   <h4><%= @tweet.user.name %></h4>
   <%= @tweet.title %>
   <div class="content_left">
    <%= simple_format(@tweet.text) %>
   </div>
  </div>


  <%= link_to "ホームに戻る", "/", method: :get , class: "button_1" %>